# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
_py-xgboost-mutex
asn1crypto
attrs
blas
ca-certificates
certifi
cffi
chardet
click
cryptography
decorator
flask
idna
intel-openmp
ipython_genutils
itsdangerous
jinja2
jsonschema
jupyter_core
libxgboost
markupsafe
mkl=2018.0.3
mkl_fft
mkl_random
nbformat
nltk
numpy
numpy-base
openssl
pandas
pip
plotly
py-xgboost
pycparser
pyopenssl
pysocks
python
python-dateutil
pytz
requests
retrying
scikit-learn
scipy=1.1.0
setuptools
six
sqlalchemy
sqlite
traitlets
urllib3
werkzeug
wheel


